.hero-principal {
    height: 100vh;
    /* background-color: #52ACFF;
    background-image: linear-gradient(90deg, #52ACFF 25%, #FFE32C 100%); */
    background-color: #FF3CAC;
    background-image: linear-gradient(30deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    overflow-x: hidden;
    overflow-y: hidden;
}

.hero-principal h1 {
    font-size: 72px;
    margin: 0;
}

.hero-principal-texto {
    color: white;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.hero-principal h3 {
    margin: 0;
}
