<mat-toolbar>
    <div class="botones">
        <button mat-raised-button routerLink="/inicio">Atrás</button>
    </div>
    <a routerLink="/">
        <h1><i class="fas fa-book-open"></i> Quantum Olegra</h1>
    </a>
</mat-toolbar>
<div class="hero-principal">
    <h2>Nosotros</h2>
    <div class="tarjetas">
        <div class="tarjeta">
            <div class="txt_tarjeta">
                <div>
                    <h4></h4>
                    <h3>Laura Isabel Almaraz González</h3>
                </div>
                <div>
                    <h5></h5>
                    <h5></h5>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <div class="txt_tarjeta">
                <div>
                    <h4></h4>
                    <h3>Marco Antonio Flores Flores</h3>
                </div>
                <div>
                    <h5></h5>
                    <h5></h5>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <div class="txt_tarjeta">
                <div>
                    <h4></h4>
                    <h3>José Ricardo Pajarito Chapuli</h3>
                </div>
                <div>
                    <h5></h5>
                    <h5></h5>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <div class="txt_tarjeta">
                <div>
                    <h4></h4>
                    <h3>Carlos Humberto Tirado Martínez</h3>
                </div>
                <div>
                    <h5></h5>
                    <h5></h5>
                </div>
            </div>
        </div>
    </div>
</div>