<mat-toolbar>
    <div class="botones">
        <button mat-raised-button routerLink="/alumno">Atrás</button>
    </div>
    <h2 *ngIf="tema == 1">Ortografía</h2>
    <h2 *ngIf="tema == 2">Gramática</h2>
    <h2 *ngIf="tema == 3">Lectura</h2>
    <div class="botones">
        <button mat-raised-button color="warn" (click)="logOut()">Cerrar sesión <i class="fas fa-sign-out-alt"></i></button>
    </div>
</mat-toolbar>
<section class="hero-principal">
    <div class="contenedor">
        <h2>Listado de lecciones</h2>
        <div class="row">
            <div *ngFor="let leccion of lecciones">
                <mat-card routerLink="/alumno/{{ tema }}/{{ grado }}/{{ leccion.id }}/{{ leccion.tipo }}">
                    <h3>{{ leccion.nombre }}</h3>
                </mat-card>
            </div>
        </div>
    </div>
</section>